<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionDBCabinetMedical" connectionString="Data Source=KARINA-HP\SQLEXPRESS; Initial Catalog=CabinetMedical; Integrated Security = True;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.7.2"/>
	</startup>
	
	<!--<appSettings>
		<add key="selectParent" value="Select * from TipuriAnalize"/>
		<add key="selectChild" value="select * from Analize where id_tip_analiza = @idParent"/>
		<add key="ParentTableName" value="TipuriAnalize"/>
		<add key="ChildTableName" value="Analize"/>
		<add key="ChildNumberOfColumns" value="4"/>
		<add key="ChildColumnNames" value="descriere_analiza,valoare_minima,valoare_maxima,pret_analiza"/>
		<add key="ColumnNamesInsertParameters" value ="@descriere_analiza, @valoare_minima, @valoare_maxima, @pret_analiza, @idParent"/>
		<add key="InsertQuery" value="insert into Analize(id_tip_analiza, descriere_analiza, valoare_minima, valoare_maxima, pret_analiza) values (@idParent, @descriere_analiza, @valoare_minima, @valoare_maxima, @pret_analiza)" />
		<add key ="Updatequery" value="update Analize set descriere_analiza = @descriere_analiza, valoare_minima = @valoare_minima, valoare_maxima = @valoare_maxima, pret_analiza = @pret_analiza where id_analiza = @id"/>
		<add key="DeleteQuery" value ="delete from Analize where id_analiza = @id"/>
	</appSettings>-->	
	
	<appSettings>
		<add key="selectParent" value="Select * from Orase"/>
		<add key="selectChild" value="select * from Institutii where id_oras = @idParent"/>
		<add key="ParentTableName" value="Orase"/>
		<add key="ChildTableName" value="Institutii"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildColumnNames" value="nume_i,strada_i,numar_i"/>
		<add key="ColumnNamesInsertParameters" value ="@nume_i,@strada_i,@numar_i,@idParent"/>
		<add key="InsertQuery" value="insert into Institutii(id_oras, nume_i,strada_i,numar_i) values (@idParent, @nume_i,@strada_i,@numar_i)" />
		<add key ="Updatequery" value="update Institutii set nume_i=@nume_i, strada_i=@strada_i, numar_i=@numar_i where id_institutie = @id"/>
		<add key="DeleteQuery" value ="delete from Institutii where id_institutie = @id"/>
	</appSettings>		
	
</configuration>