*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}


.header{
  background-color: #4C5C1D;
  color: white;
  display: flex;
  height: 10%;
}

.navigationBar{
  height: 10%;
  width: 100%;
  display: flex;
}

.navigationBar ul{
  background-color: #A1C349;
  list-style-type: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigationBar li{
  display: flex;
  flex: 1; /*fiecare element ocupa spatiu egal*/
  justify-content: center;
  align-items: center;
  border-right: solid;
  border-width: 1px;
}

.mainContent{
  background-color: #CAD593;
  color: black;
  height: 70%;
}

.footer{
  background-color: #4C5C1D;
  color: white;
  height: 10%;
}
